.star {
	background: url(../images/star-bg.jpg) no-repeat center / cover;
}

.star-container {
	min-height: calc(100vh - 52px);
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.star-content {
}

.star-title {
	font-weight: 400;
	font-size: 36px;
	color: #fff;
}

.star-subtitle {
	font-weight: 400;
	font-size: 24px;
	color: #fff;
	margin-bottom: 100px;
}

.star-row {
	display: flex;
	gap: 13px;
}

.star-button {
	padding: 8px 19px;
	border-radius: 4px;
	background: #8dd83d;
	font-size: 16px;
	line-height: 131%;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
}

.star-button:hover {
	background: #373a3c;
}

@media (max-width: 670px) {
	.star-container {
		align-items: center;
		text-align: center;
	}

	.star-row {
		flex-direction: column;
	}

	.star-subtitle {
		margin-bottom: 50px;
	}
}
