/* font-family: 'Roboto', sans-serif; */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
a {
	font-family: inherit;
}
.header {
	background: #373a3c;
	border-radius: 4px;
}
.container-header {
	max-width: 1105px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}
.header-logo {
}
.header-image {
}
.menu {
}
.menu-body {
}
.menu-list {
	display: flex;
	align-items: center;
}
.menu-item {
	list-style: none;
	margin-left: 40px;
}
.menu-link {
	font-size: 16px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.5s ease 0s;
	text-decoration: none;
}
.menu-link:hover {
	color: #fff;
	text-shadow: 0 0 5px #fff;
}

.menu-icon {
	display: none;
	flex: 0 0 30px;
	height: 18px;
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
}

.menu-icon span,
.menu-icon::before,
.menu-icon::after {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	z-index: 10;
	background: #fff;
	transition: all 0.5s ease 0s;
}

.menu-icon span {
	top: 50%;
	transform: translate(0, -50%);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
}

.menu-icon::before {
	top: 0;
}

.menu-icon::after {
	bottom: 0;
}

.menu-icon.active span {
	transform: scale(0);
}

.menu-icon.active::before {
	top: 50%;
	transform: translate(0, -50%) rotate(-45deg);
}

.menu-icon.active::after {
	bottom: 50%;
	transform: translate(0, 50%) rotate(45deg);
}

@media (max-width: 750px) {
	.menu-icon {
		display: block;
	}

	.menu-body {
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: #000;
		transition: all 0.5s ease 0s;
	}

	.menu-body.active {
		top: 0;
	}

	.menu-list {
		display: block;
		padding-top: 70px;
	}

	.menu-item {
		text-align: center;
	}
}

@media (max-width: 950px) {
	.container {
		display: block;
	}
}
